.wrapper_search {
  margin-top: 2rem;
  background-color: #e2b7bc;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.wrapper_search form {
  display: flex;
  justify-content: space-between;
  padding: 0 10rem;
  align-items: center;
}
.wrapper_search input {
  /* margin: 0 2rem; */
  border-radius: 6px;
  outline: none;
  border: none;
  font-size: 1.4rem;
  padding: 0 0 0 0.6rem;
}

.wrapper_search input::placeholder {
  margin-left: 4rem;
  /* padding: 0 0 0 0.6rem; */
}

.wrapper_search button {
  background-color: #e64356;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  transition: all 0.3;
}

.wrapper_search button:hover {
  background-color: #ca3244;
}

.swap_icon {
  font-size: 2rem;
  transition: all 0.3s;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}
.icon_wrapper:hover {
  cursor: pointer;
  background-color: #e64356;
}
.icon_wrapper {
  background-color: #ee7b89;
  padding: 0.4rem;
  transition: all 0.3s;
  border-radius: 100%;
}
